.form-con {
  justify-content: center;
  text-align: center;
  width: 400px;
  background-color: white;
  min-height: 400px;
  padding: 50px;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
  user-select: none;
}
.box-con {
  display: flex;
  place-content: center;
  padding: 50px 0 100px 0;
}
.form-con h1 {
  font-weight: 90;
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 26px;
  align-items: center;
  justify-content: center;
}

.form-group-con {
  height: 48px;
  margin-bottom: 20px;
  margin-top: 15px;
  position: relative;
}
.form-control-con {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: none;
  border: 1px solid #a1a1a1;
  border-radius: 5px solid grey;
  outline: none;
  padding: 15px;
}
.bottom-box-con {
  display: flex;
  margin-top: 2px;
  justify-content: space-around;
  color: black;
}
.bottom-box-con a {
  width: 100px;
  margin-bottom: 10px;
  color: white;
  text-decoration: none;
  font-size: 13px;
  font-weight: 400;
}
.form-button-con {
  width: 10px;
  margin-top: 50px;
  margin-right: 70px;
  margin-bottom: 30px;
  padding: 20px;
  outline: none;
  border: none;
  background-color: #a6d4df;
  color: black;
  border-radius: 15cqh;
}
.form-group-con .input:focus {
  border: 2px solid blue;
}
.loginbtn-con {
  color: black;
}
.button-30 {
  margin-right: 90px;
  text-align: center;
  align-items: center;
  appearance: none;
  background-color: #fcfcfd;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395a;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono", monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 18px;
}

.button-30:focus {
  box-shadow: #d6d6e7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
}

.button-30:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-30:active {
  box-shadow: #d6d6e7 0 3px 7px inset;
  transform: translateY(2px);
}
.contain {
  margin-bottom: 170px;
  color: blue;
}
