.form-container {
  background-image: url("../assets/back.png");
  padding: 60px;
  background-attachment: fixed;
}
.form-container form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  place-items: center;
  gap: 20px;
}
.form-items {
  gap: 10px;
  width: 50%;
}
.btn-item-form {
  padding: 20px;
}
* {
  font-family: "Forum";
  font-weight: bold;
  letter-spacing: 1px;
}
