.logo img
{
    height: 80px;
    width: 80px;
    border-radius: 50%;
}
.list li{
    padding: 13px;
}
.list ul{
    list-style-type: none;
    display: flex;
    gap: 20px;
    font-size: 18px;
    padding: 0px 50px;
    justify-content: space-evenly;
}
.list .listing:hover{
    cursor: pointer;
    text-decoration: underline;
}
.container
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
}
.marked
{
    background-color: black;
    color: #f0d331;
    border-radius: 20px;
}
.marked:hover{
    text-decoration: none !important;
}