.portfolio-container {
  padding: 5% 0 5% 0;
}
.github-top {
  display: flex;
  gap: 40px;
  border: 1px solid;
  padding: 40px;
  flex-wrap: wrap;
}
.graph-container img {
  width: 90%;
}
.github-container {
  display: flex;
  gap: 20px;
}

.github-top-1 {
  border-radius: 50px;
  padding: 20px;
}
.gh-profile img {
  width: 50%;
  border-radius: 50%;
}
.github-top-2 img {
  border-radius: 5%;
  height: 20vh;
}
.github-top-1,
.github-top-3 {
  border-radius: 5%;
  border: px solid black;
  color: black;
}
.leetcode-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 50%;
  text-align: center;
}
.loader {
  width: 20vh;
  height: 20vh;
}
