* {
  border: 0;
  margin: 0;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.main-container {
  display: flex;
  flex-direction: column;
}
.home-container {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
}
@media (max-width: 768px) {
  .header-container {
    box-shadow: black 0px 0px 20px 1px;
  }
}
.head-nav-container {
  box-shadow: black 0px 5px 30px 5px;
}
